In [1]:
import pandas as pd
import numpy as np

# print(pd.__version__)
# print(np.__version__)

n_rows = 5
n_cols = 5
cols = tuple("ABCDE")

df = pd.DataFrame(np.random.randint(1,10,size=(n_rows,n_cols)),columns=cols)

df.add_prefix("pre_")

   pre_A  pre_B  pre_C  pre_D  pre_E
0      3      6      2      8      4
1      4      6      3      6      5
2      8      4      9      3      2
3      8      7      9      4      8
4      6      6      9      1      4

In [2]:
df.add_suffix('_suf')

   A_suf  B_suf  C_suf  D_suf  E_suf
0      3      6      2      8      4
1      4      6      3      6      5
2      8      4      9      3      2
3      8      7      9      4      8
4      6      6      9      1      4